@model Review

<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Movies" asp-action="Index">Movies</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete Review</li>
        </ol>
</nav>
 
<h3 class="mb-4 mb-4">Delete</h3>
<h4 class="mb-4">Are you sure you want to delete this Review?</h4>

 <div>
   <!-- display the review to be delted using a <dl> -->
    <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>
    
            <dt class="col-sm-3">Created</dt>
            <dd class="col-sm-9">@Model.CreatedOn</dd>
        
            <dt class="col-sm-3">Comment</dt>
            <dd class="col-sm-9">@Model.Comment</dd>

            <dt class="col-sm-3">Rating</dt>
            <dd class="col-sm-9">@Model.Rating</dd>
    </dl>  


    <form asp-action="DeleteReviewConfirmed">
      <!-- Hides Id - no need to display -->
      <input type="hidden" asp-for="Id" class="form-control"/>  

      <!-- create a form to submit the post request to/movie/Back to List -->
       <div class="form-group">
          <input type="submit" value="Delete" class="btn btn-danger" asp-controller="Movie" asp-action="DeleteReviewConfirmed"/>

          |<a asp-action="Index" class="btn btn-sm btn-default"> Back to List</a> 
      </div>

    </form>  


  </div>
    

